<html ng-app="yuebaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>约吧 - 拓展我的活动圈</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="assets/css/sm.min.css">
    <link rel="stylesheet" href="assets/css/sm-extend.min.css">
    <script type='text/javascript' src='assets/js/angular.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/yuebaapp.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/controllers/login.js' charset='utf-8'></script>
</head>
<body ng-controller="LoginController">

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="index.html">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">登录</h1>
        </header>

        <div class="content">
            <!-- 这里是页面内容区 -->
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">手机号</div>
                                <div class="item-input">
                                    <input type="text" placeholder="手机号" ng-model="loginUser.username">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">密码</div>
                                <div class="item-input">
                                    <input type="password" placeholder="密码" ng-model="loginUser.password">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Switch (Checkbox) -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">自动登录</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox" ng-model="loginUser.rememberMe">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50">
                        <a href="register.html" class="button button-big button-fill button-danger">注册</a>
                    </div>
                    <div class="col-50">
                        <a href="#" class="button button-big button-fill button-success" ng-click="login()">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='assets/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/js/sm-extend.js' charset='utf-8'></script>
<script>
    $.init();
</script>
</body>
</html>
