<html ng-app="yuebaApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>约吧 - 拓展我的活动圈</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="assets/css/sm.min.css">
    <link rel="stylesheet" href="assets/css/sm-extend.min.css">
    <script type='text/javascript' src='assets/js/angular.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/yuebaapp.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/controllers/register.js' charset='utf-8'></script>
  </head>
  <body ng-controller="RegisterController">

  <div class="page-group">
      <div class="page">
          <header class="bar bar-nav">
              <a class="button button-link button-nav pull-left external" href="index.html">
                  <span class="icon icon-left"></span>
                  返回
              </a>
              <h1 class="title">注册</h1>
          </header>

          <div class="content">
              <!-- 这里是页面内容区 -->
              <div class="list-block">
                  <ul>
                      <!-- Text inputs -->
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-name"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">用户名</div>
                                  <div class="item-input">
                                      <input type="text" placeholder="用户名" ng-model="registerUser.username">
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-name"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">昵称</div>
                                  <div class="item-input">
                                      <input type="text" placeholder="昵称" ng-model="registerUser.nickname">
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-name"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">手机号码</div>
                                  <div class="item-input">
                                      <input type="text" placeholder="手机号码" ng-model="registerUser.mobile">
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-password"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">密码</div>
                                  <div class="item-input">
                                      <input type="password" placeholder="密码" ng-model="registerUser.password">
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-password"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">确认密码</div>
                                  <div class="item-input">
                                      <input type="password" placeholder="再次输入密码" ng-model="registerUser.confirmPassword">
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-gender"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">性别</div>
                                  <div class="item-input">
                                      <select ng-options="key as value for (key, value) in globalDefines.trGender"
                                              ng-model="registerUser.gender">
                                      </select>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <!-- Date -->
                      <li>
                          <div class="item-content">
                              <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                              <div class="item-inner">
                                  <div class="item-title label">生日</div>
                                  <div class="item-input">
                                      <input id="birthDate" type="text" placeholder="生日" ng-model="registerUser.birthday"/>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="content-block">
                  <a href="#" class="button button-big button-fill button-success" ng-click="register()">提交</a>
              </div>
          </div>
      </div>
  </div>

    <script type='text/javascript' src='assets/js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='assets/js/sm.js' charset='utf-8'></script>
    <script type='text/javascript' src='assets/js/sm-extend.js' charset='utf-8'></script>
    <script>
        $.init();

        $("#birthDate").calendar({
            value: ['1990-2-14']
        });
    </script>
  </body>
</html>
