<html ng-app="yuebaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>约吧 - 拓展我的活动圈</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="assets/css/sm.min.css">
    <link rel="stylesheet" href="assets/css/sm-extend.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script type='text/javascript' src='assets/js/angular.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='assets/js/angular-file-upload.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/yuebaapp.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/controllers/home.js' charset='utf-8'></script>
    <script type='text/javascript' src='dist/controllers/usercenter.js' charset='utf-8'></script>
</head>
<body ng-controller="UserCenterController">

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left external" href="home.html">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">个人中心</h1>
            <a class="button button-link button-nav pull-right" href="#" ng-click="logout()">
                <span class="icon"></span>
                退出
            </a>
        </header>
        <nav class="bar bar-tab" ng-controller="NavBarController" ng-include="'partials/navbar.html'">
        </nav>
        <div class="content">
            <!-- 这里是页面内容区 -->
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">头像</div>
                            <div class="item-after">
                                <!--<img id="avatar" ng-src="{{user.avatar}}" alt="" width="45" height="45">-->
                                <div class="item-media">
                                    <a href="javascript:;" class="file">
                                        <input type="file" id="activity-file" nv-file-select="" uploader="uploader" />
                                        <img ng-src="{{user.avatar}}" width="44" class="avatar">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">昵称</div>
                            <div class="item-after">
                                <span id="nickname" ng-bind="user.nickname"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">生日</div>
                            <div class="item-after">
                                <span id="birthday" ng-bind="user.birthday|date:'yyyy年MM月dd日'"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">性别</div>
                            <div class="item-after">
                                <span id="gender" ng-bind="globalDefines.trGender[user.gender]"></span>
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">评分</div>
                            <div class="item-after">
                                <span id="grade" ng-bind="user.grade"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">我的活动:</div>
                <div class="card-content">
                    <div class="list-block media-list">
                        <ul class="list-container">
                            <li ng-repeat="activity in activityList">
                                <div class="color-gray">
                                    <a href="/detail.html?activityId={{activity.id}}" class="item-link item-content external">
                                        <div class="item-media">
                                            <img ng-src="{{activity.pic}}" width="80">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">
                                                    <span ng-bind="activity.title"></span>
                                                </div>
                                                <div class="item-after {{activity.activityStatus|lowercase}}"
                                                     ng-bind="globalDefines.trActivityStatus[activity.activityStatus]"></div>
                                            </div>
                                            <div class="item-text">
                                                <span ng-bind="activity.description| cut:true:100:'...'"></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='assets/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='assets/js/sm-extend.js' charset='utf-8'></script>
<script>
    $.init();
</script>
</body>
</html>
